.Login{
    height: 100vh;
    display: flex;
    overflow: hidden;
    background: url(../../assets/moon.jpg) no-repeat;
    background-size: 100% 100%;
}

.MainLogin{
    text-align: center;
    display: flex;
    flex: 1;
    color: white;
}

.LoginSection{
    display: flex;
    background: transparent;
    align-items: center;
    flex: 1;
 }

.LoginForm{
    margin-left:25%;
    margin-right: 25%;

    text-align: center;
    height: 60%;
    background: transparent;
    backdrop-filter: blur(60px);
    border-radius: 20px;
    border: 5px solid white;
    flex: 1;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm .formatLogin{
    width: 100%;
    padding: 40%;
}

.inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.inputBox label{
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label{
    top: -5px;
}


.inputBox input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 0 10px;
}

.subBut{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #124363;
    color: white;
    cursor: pointer;
}

.loginRegister{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
}

.regLink{
    text-decoration: none;
    color: white;
    font-weight: 700;


}
